snippet header "Header for a lua script"
--------------------------------------------------------------------------------
-- Name:           `!p snip.rv=fn`
-- Author:         Tristan Andrus
-- Date of Origin: `date '+%d %B %Y'`
-- Description:    $1
--------------------------------------------------------------------------------
$2
endsnippet
