snippet factcheck
<img
src='https://media.tegna-media.com/assets/VERIFY/images/dab9cf4c-3e24-4c6f-94a8-0334e0551b1f/dab9cf4c-3e24-4c6f-94a8-0334e0551b1f_1920x1080.jpg'
style='display:block;'></img>
endsnippet
