snippet script
#!/usr/bin/python3
# File:        `!p snip.rv=fn`
# Author:      Tristan Andrus (steelswords)
# Description: $1
################################################################################
endsnippet

snippet main
def main():
    $1

if __name__ == "__main__":
    main()
endsnippet
