snippet sec
/*******************************************************************************
 * $1                                                                          *
 ******************************************************************************/
endsnippet

snippet mainresult
fn main() -> Result<(), Box<dyn std::error::Error>> {
}
endsnippet
